@font-face {
    font-family: 'Metropolis';
    src: url('https://github.com/tykkie/tykkie.github.io/blob/main/Metropolis-Regular.otf') format('opentype');
  }

  p {
    font-family: 'Metropolis', sans-serif;
  }
  
